<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <header>
      <h1>Hello</h1>
    </header>

  <h1><%= blogsList[0].title %></h1>
  <p><%= blogsList[0].description %></p>


  <form action="blogs/6446e0bff25f7f14484ad9b8/comments/create" method="POST">
    <div>
        <label for="comment">Comment:</label>
        <textarea id="comment" name="comment" required></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>

  <% for (var j = 0; j < blogsList[0].blog_comments.length; j++) { %>
    <div class="comment-box">
       <p><%= blogsList[0].blog_comments[j] %></p>
    </div>
      <br>
  <% } %>


    <script src="index.js"></script>
  </body>
</html>
