body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: white;
  padding: 5px;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category {
  width: 300px;
  margin: 20px;
  border: 1px solid #ccc;
  padding: 20px;
}

.category h2 {
  margin-top: 0;
}

.category img {
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .category {
    width: 100%;
  }
}

.comments-list {
  margin: 20px;
  border: 1px solid #ccc;
  padding: 20px;
}

.comments-list p {
  margin: 10px 0;
}

form div {
  margin: 10px 0;
}

form textarea {
  resize: none;
  width: 100%;
  height: 100px;
}

form button {
  margin-top: 10px;
}

.comment-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* change align-items to flex-start */
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 50px 10px;
  margin-bottom: 0px;
  max-width: 80%;
  margin-left: 10px;
  position: relative; /* add position: relative */
}

.comment-box p {
  margin: 0;
}

.comment-box button {
  border: none;
  background: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  position: absolute; /* add position: absolute */
  top: 10px; /* adjust top and right values as needed */
  right: 10px;
}

.comment-box .delete-button {
  /* remove this rule */
}

.comment-box button + button { /* add this rule */
  margin-left: 10px;
  right: 70px; /* adjust right value to position the update button */
}
.comment-box button:hover {
  text-decoration: underline;
  opacity: 0.7;
}

